spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service-route
              uri: lb://user-service
              predicates:
                - Path=/api/v1/users/**
              filters:
                - TokenRelay=

            - id: role-service-route
              uri: lb://user-service
              predicates:
                - Path=/api/v1/roles/**
              filters:
                - TokenRelay=

            - id: permission-service-route
              uri: lb://user-service
              predicates:
                - Path=/api/v1/permissions/**
              filters:
                - TokenRelay=

            - id: customer-service-route
              uri: lb://customer-service
              predicates:
                - Path=/api/v1/customers/**
              filters:
                - TokenRelay=
            - id: property-service-route
              uri: lb://property-service
              predicates:
                - Path=/api/v1/properties/**
              filters:
                - TokenRelay=

            # --- Rotte OpenAPI ---
            - id: user-service-openapi-route
              uri: lb://user-service
              predicates:
                - Path=/v3/api-docs/user-service
              filters:
                - RewritePath=/v3/api-docs/user-service, /v3/api-docs

            - id: customer-service-openapi-route
              uri: lb://customer-service
              predicates:
                - Path=/v3/api-docs/customer-service
              filters:
                - RewritePath=/v3/api-docs/customer-service, /v3/api-docs

            - id: property-service-openapi-route
              uri: lb://property-service
              predicates:
                - Path=/v3/api-docs/property-service
              filters:
                - RewritePath=/v3/api-docs/property-service, /v3/api-docs

  security:
    oauth2:
      client:
        provider:
          spring:
            issuer-uri: https://dev.proptech.com