spring:
  application:
    name: api-gateway

springdoc:
  swagger-ui:
    urls:
      - name: User Service
        url: /v3/api-docs/user-service
      - name: Customer Service
        url: /v3/api-docs/customer-service
      - name: Property Service
        url: /v3/api-docs/property-service

management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true